// Оттенки серого
$gray: #D0D0D0;
$gray-shadow: #C5C5C5;
$gray-dark: #62656F;
$gray-light: #FDFDFD;
$gray-progress: #E6E6E6;

// Оттенки черного
$black: #000000;
$dark: #1C0F2D;

// Оттенки белого
$white: #FFFFFF;

// Цвета действий
$error: #FF2929;
$error-weak: #FFE8E8;
$success: #2E9E24;

// Цвета текста
$color-text-base: $black;
$color-text-alt: #868FA0;

// Основные цвета
$primary: #2264E6;
$primary-middle: #508BFF;
$primary-light: #E9EFFC;
$disabled: #ACAEC1;
$base: $white;
