@import 'styles/colors';
@import 'styles/mixins';

.accordion {
  width: 100%;
  background: $base;
  box-shadow: 0 spacing(0.5) spacing(0.75) rgba($gray-shadow, 0.4);
  border-radius: spacing(1.5);
  @include iconColor($primary, false, true);

  &__title {
    padding: spacing(3);
    cursor: pointer;
    position: relative;
  }

  &__content {
    width: auto !important;
    margin-left: 0 !important;
  }

  &__chevron {
    @include pos($t: spacing(3.5), $r: spacing(3));
    
    svg {
      @include square(spacing(2), false, true);
    }

    &.centered {
      top: 50%;
      margin-top: spacing(-1);
    }
  }
}
