@import 'styles/mixins';
@import 'styles/colors';

.progress-bar {
  background: $gray-progress;
  overflow: hidden;
  width: 100%;

  &,
  &__progress {
    border-radius: spacing();
    height: spacing(0.75);
  }

  &.big {
    height: spacing(3);

    .progress-bar__progress {
      height: spacing(3);
    }
  }

  &__progress {
    background: $primary;
  }

  &__value {
    height: spacing(3);
    margin: 0 spacing();
    transform: translateY(spacing(0.375));
  }
}
