@import 'styles/mixins';
@import 'styles/colors';

.select-indicator {
  padding: spacing(0.5);
  transition: transform 0.2s;

  &--active {
    transform: rotate(180deg);
  }

  &--clickable {
    cursor: pointer;
  }
}
